---
BasedOnStyle: Google
AlignEscapedNewlinesLeft: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'true'
AllowShortLoopsOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'true'
AlignAfterOpenBracket: Align
BinPackArguments: 'true'
BinPackParameters: 'true'
BreakBeforeBinaryOperators: 'false'
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: 'true'
BreakConstructorInitializersBeforeComma: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
Cpp11BracedListStyle: 'false'
ColumnLimit: 0
DerivePointerAlignment: 'true'
DisableFormat: 'false'
IndentCaseLabels: 'true'
Language: Cpp
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: All
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInContainerLiterals: 'true'
SpacesInParentheses: 'false'
Standard: Cpp11
UseTab: false
IndentWidth: 4
AccessModifierOffset: -4
