# Prerequisites
*.d

# Symbol tables
/parsed_x86_64.sym
/Scripts/parsed_x86_64.sym

# Compiled Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.elf

# Binaries
*.iso

# Buildsystem
binaries/
/build/
!binaries/boot/grub.cfg
.idea

# Makefile plugin
/.vscode/*.log
/.vscode/c_cpp_properties.json

start.sh